.vertical-center {
	min-height: 100vh;
	margin: 0;
	display: flex;
	align-items: center;
}

h1 {
	margin: 24px 0;
}

.messages p {
	margin: 6px 0;
}


.sidebar {
    padding-top: 70px;
}

.title {
	font-size: 200%;
	text-align: center;
}

.navbar {
    height: 65px;
    background-color: black;
    /*background: linear-gradient(to right, black, black,#F5F5F5, black, black);*/
    /*background: linear-gradient( black, black, black, black, black, white);*/
}
.medio {
	padding-top: 35px;
}
.room-title {
	font-size: 700%;
}

.navbar-left.title, .navbar-right {
	color: #339900;
}
.username {
	color: #339900;
}
.thisusername{
	color: black;
}
.time {
	color: #606060;
}
.sider {
	background-color: black;
	color:white;
}